:root {
  /** primary colors **/
  /* text */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* bg-gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --bg-gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  /** neutral colors **/
  /* text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /** neutral colors **/
  /* dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);

  /** Typography **/
  /* body copy */
  --fs: 0.75rem;
  --line-height: 1rem;

  /* font */
  --ff: 'Kumbh Sans',
    sans-serif;
  --fw-400: 400;
  --fw-700: 700;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  background: var(--bg-gradient);
  background-size: cover;
  max-width: 320px;

  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: var(--ff);
  font-size: var(--fs);
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 60px 50px -25px rgba(0, 0, 0, 0.35);
  border-radius: 1.5rem;
}

.container {
  height: 34rem;
  width: 100%;   /* to be updated */
  border:1px solid hsl(14, 88%, 65%);
  border-radius: 1.5rem;
  position: relative;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
.list {
  position: relative;
  margin: 0;
  margin-top: 7.8125rem;
  padding-top: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  border: 2px solid;
  border-radius: inherit;
  height: 26.1875rem;

}

.list::before {
  position: absolute;
  content: 'FAQ';
  font-weight: var(--fw-700);
  font-size: 2rem;
  line-height: 1.25em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: -.175rem;
  /* to update depending on the box model */
}

.answer,
ul li i:before,
ul li i:after {
  transition: all 0.25s ease-in-out;
}

.question {
  color: var(--Very-dark-grayish-blue);
     font-size: 0.875rem;
     line-height: 1rem;
     font-weight: var(--fw-400);

      margin: 0;
      cursor: pointer;
}

.answer {
  color: var(--Dark-grayish-blue);
  font-size: var(--fs);
  line-height: var(--line-height);
    position: relative;
      overflow: hidden;
      max-height: 800px;
      opacity: 1;
      transform: translate(0, 0);
      margin-top: 14px;
      z-index: 2;
      transition: all 500ms ease;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

p{
  /*provisorisch */
}

.image-neutral {
  position: absolute;
  margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -.5625rem;
}

.image-woman {
  position: absolute;
  margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -6.7625rem;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.main-FAQ::before {
}

.main-FAQ {
  background: var(--Light-grayish-blue);
  margin: 0 auto;
  border-radius: inherit;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

footer {
  margin: 0 auto;
}
